.places__place {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:flex-start;
  margin-bottom: 70px;
}

.places__place:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 675px) {
  .places__place {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
}
 