@import url("./__copyright/footer__copyright.css");
@import url("./__links/links.css");
@import url("./__item/footer__item.css");
@import url("./__link/footer__link.css");

.footer {
  max-width: 1184px;
  padding-top: 160px;
  padding-bottom: 48px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

@media screen and (max-width: 1220px) {
  .footer {
    max-width: 100%;
    margin-left: 47px;
    margin-right: 47px;
  }
}
@media screen and (max-width: 770px) {
  .footer {
    margin-left: 23px;
    margin-right: 23px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    flex-direction: column;
  }
}