.places__paragraph-container {
  max-width: calc(100% - 500px);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .places__paragraph-container {
    max-width: calc(100% - 472px);
  }
}

@media screen and (max-width: 768px) {
  .places__paragraph-container {
    max-width: calc(100% - 368px);
  }
}

@media screen and (max-width: 675px) {
  .places__paragraph-container {
    max-width: 343px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 345px) {
  .places__paragraph-container {
    max-width: 288px;
  }
}